.inner {
    width: 1200px;
    margin: 0 auto;
}

.csc {
    padding: 100px 0;
}

h2 {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px 0;
}

.Fslide {
    padding: 100px 0 0 0;
}
