@use "App";

.Center {
    .inner {
        display: flex;
        gap: 50px;
        justify-content: space-between;

        div {
            padding: 45px;
            flex: 1;
            border: 1px solid #ddd;
        }

        h3 {
            text-align: left;
        }

        ul {
            text-align: left;
            li {
                display: flex;
                flex-direction: column;
                margin: 0 0 20px 0;
                span {
                    color: #1e70c1;
                    font-size: 17px;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }
            }
        }
    }

    .Mback {
        padding: 50px 0;
        background: #ddd;
    }
}
