@use "App";

.MainBuss {
    &.on {
        .inner {
            .right {
                .des {
                    bottom: 10%;
                    opacity: 1;
                }

                img {
                    filter: brightness(70%);
                }
            }
        }
    }

    .inner {
        // display: flex;
        // gap: 30px;

        text-align: center;
        h2 {
        }

        p {
            font-size: 17px;
            font-weight: 500;
            color: #333;
            margin: 0 0 30px 0;
            line-height: 1.4;
        }

        .right {
            display: flex;
            gap: 30px;

            figure {
                position: relative;

                img {
                    transition: 0.5s;
                }

                .des {
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    bottom: 0%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    font-size: 21px;
                    font-weight: 500;
                    padding: 30px;
                    white-space: pre;
                    text-align: left;
                    color: #fff;
                    opacity: 0;
                    transition: 0.5s;
                    line-height: 1.2;

                    span {
                        font-size: 15px;
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }
}
