@use "App";

.MainWet {
    background: url(../../public/assets/images/wetback.jpg) no-repeat center center / cover;

    .inner {
        .mwet {
            color: #fff;
            // padding: 50px;
            text-align: left;
            // margin: 0 0 50px 0;

            h3 {
                font-size: 25px;
                font-weight: 700;
                margin: 0 0 70px 0;
            }

            span {
                display: inline-block;
                margin: 0 0 70px 0;
                font-size: 15px;
                font-weight: 500;
            }
            .wbox {
                .category {
                    display: flex;
                    gap: 70px;
                    font-weight: 500;
                    justify-content: left;
                    margin: 0 auto;

                    ul {
                        li {
                            &:nth-child(1) {
                                font-size: 17px;
                                margin: 0 0 10px 0;
                            }

                            &:nth-child(2) {
                                font-size: 15px;
                            }

                            span {
                                font-size: 35px;
                                font-weight: 700;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
