@use "App";

.MainWet {
    position: relative;
    background: url(../../public/assets/images/wetback.jpg) no-repeat center center / cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../../public/assets/images/pattern.png);
    }

    &.on {
        .inner {
            .mwet {
                opacity: 1;
                transform: translate(0);
            }
        }
    }

    .inner {
        .mwet {
            color: #fff;
            text-align: left;
            opacity: 0;
            transition: 0.5s;
            transform: translateY(100px);

            h3 {
                font-size: 25px;
                font-weight: 700;
                margin: 0 0 70px 0;
            }

            span {
                display: inline-block;
                margin: 0 0 70px 0;
                font-size: 15px;
                font-weight: 500;
            }

            .wbox {
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 0;
                    width: 40px;
                    height: 1px;
                    background: #fff;
                }

                .category {
                    display: flex;
                    gap: 70px;
                    font-weight: 500;
                    justify-content: left;
                    margin: 0 auto;

                    ul {
                        li {
                            &:nth-child(1) {
                                font-size: 17px;
                                margin: 0 0 10px 0;
                            }

                            &:nth-child(2) {
                                font-size: 15px;
                            }

                            span {
                                font-size: 35px;
                                font-weight: 700;
                                margin: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
