@use "App";

.Marketing {
    .inner {
        display: flex;
        gap: 50px;

        .left {
            flex: 1;

            img {
                width: 100%;
            }
        }

        .right {
            flex: 2;
            margin: auto 0;

            h3 {
                font-size: 19px;
                font-weight: 700;
                margin: 0 0 50px 0;
            }


            .Blist {
                text-align: left;

                li {
                    display: flex;
                    flex-direction: column;
                    font-size: 17px;
                    margin: 0 0 50px 0;
                    
                    span {
                        color: #1e70c1;
                        font-size: 21px;
                        font-weight: 500;
                        margin: 0 0 10px 0;
                    }
                }
            }
        }
    }
}
