table {
    border-top: 2px solid #1e70c1;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    caption {
        font-size: 21px;
        font-weight: 500;
        border-top: 2px solid #1e70c1;
        padding: 10px 0;
    }

    tr {
        border-bottom: 1px solid #ddd;

        th {
            padding: 10px 0;
            font-size: 15px;
            font-weight: 500;
        }

        td {
            // padding: 10px 0 10px 10px;
            font-size: 15px;
            line-height: 1.2;
        }
    }
}
