@use "App";

.Sh02 {
    background: url(../../public/assets/images/subMain03.PNG) no-repeat top center;
    height: 400px;
}

// .wet {
//     background: url(../../public/assets/images/wetback.jpg) no-repeat center center / cover;
//     color: #fff;
//     padding: 50px;
//     text-align: left;
//     margin: 0 0 50px 0;

//     h3 {
//     }

//     span {
//         display: inline-block;
//         margin: 0 0 30px 0;
//         font-size: 15px;
//         font-weight: 500;
//     }
//     .wbox {
//         .category {
//             display: flex;
//             gap: 70px;
//             font-weight: 500;
//             justify-content: left;
//             margin: 0 auto;

//             ul {
//                 li {
//                     &:nth-child(1) {
//                         font-size: 17px;
//                         margin: 0 0 10px 0;
//                     }

//                     &:nth-child(2) {
//                         font-size: 14px;
//                     }

//                     span {
//                         font-size: 25px;
//                         margin: 0;
//                     }
//                 }
//             }
//         }
//     }
// }

.box {
    h3 {
        text-align: left;
    }
    & > div {
        flex: 1;
        ul {
            text-align: left;
            li {
                display: flex;
                flex-direction: column;
                margin: 0 0 20px 0;
                line-height: 1.4;
                word-break: keep-all;
                span {
                    color: #1e70c1;
                    font-size: 17px;
                    font-weight: 700;
                    margin: 0 0 10px 0;
                }
            }
        }
    }
}
