@use "App";

.Subpage {
    position: relative;

    .sh {
        padding: 100px 0;
    }

    .inner {
        text-align: center;

        h3 {
            font-size: 21px;
            font-weight: 700;
            margin: 0 0 30px 0;
        }

        p {
            white-space: pre-wrap;
            line-height: 1.4;
            font-size: 17px;
            font-weight: 500;
            margin: 0 0 50px 0;
        }
    }

    .Sh01 {
        position: relative;
        background: url(../../public/assets/images/subMain02.jpg) no-repeat center center / cover;
        height: 400px;
    }

    .tab {
        padding: 100px 0;
    }

    & > ul {
        text-align: center;
        position: absolute;
        top: 350px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        font-size: 19px;
        font-weight: 500;
        color: #fff;

        li {
            width: 300px;
            background: #1e70c1;
            line-height: 50px;
            cursor: pointer;

            &.on {
                background: #fff;
                color: #1e70c1;
            }

            &:nth-child(-n + 3) {
                border-right: 1px solid #fff;
            }
        }
    }



    .box {
        display: flex;
        gap: 50px;
    }
}
