@use "App";

.Travel {
    .inner {
        display: flex;
        gap: 50px;

        .left {
            flex: 1;

            img {
                width: 100%;
            }
        }

        .right {
            flex: 1;

            h3 {
                font-size: 19px;
                font-weight: 700;
                margin: 0 0 10px 0;
            }

            p {
                font-size: 14px;
                margin: 0 0 15px 0;
            }

            table {
                border-top: 2px solid #1e70c1;
                width: 100%;
                border-spacing: 0;
                border-collapse: collapse;

                tr {
                    border-bottom: 1px solid #ddd;

                    th {
                        padding: 10px 0;
                        font-size: 15px;
                        font-weight: 500;
                    }

                    td {
                        padding: 10px 0 10px 10px;
                        font-size: 15px;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}
